.result-list {
    width: 100%;
    .list-wrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #e5e5e5;
        .list-filter {
            width: 100%;
            padding-bottom: 13px;
            span {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-right: 65px;
                color: #222;
                font-size: 14px;
                cursor: pointer;
            }
            .active {
                color: #13D1BE;
            }
            .active-asc {
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    right: -10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0px 3px 4px 3px;
                    border-color: #13D1BE transparent;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    right: -10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 3px 0px 3px;
                    border-color: #ccc transparent;
                }
            }
            .active-desc {
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    right: -10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0px 3px 4px 3px;
                    border-color: #ccc transparent;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    right: -10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 3px 0px 3px;
                    border-color: #13D1BE transparent;
                }
            }
        }
        .list {
            width: 100%;
            .list-card {
                width: 100%;
                height: 125px;
                border-top: 1px solid #e5e5e5;
                padding: 20px 0 18px;
                a {
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    .img-box {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 220px;
                        height: 100%;
                        img {
                            border-radius: 4px;
                            width: 100%;
                            height: 100%;
                        }
                        .index {
                            position: absolute;
                            top: 3px;
                            left: -3px;
                            width: 20px;
                            height: 13px;
                            line-height: 12px;
                            text-align: center;
                            font-size: 12px;
                            color: #fff;
                            background-color: #FB6433;
                        }
                    }
                    .card-info {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(100% - 220px);
                        box-sizing: border-box;
                        padding-left: 20px;
                        padding-top: 5px;
                        font-size: 12px;
                        h5 {
                            margin: 0;
                            font-size: 16px;
                            color: #222;
                            line-height: 22px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin: 12px 0 0;
                            color: #666;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .el-rate {
                                display: inline-block;
                                vertical-align: top;
                            }
                            .comment {
                                color: #f60;
                                margin-left: 10px;
                            }
                            .price {
                                display: inline-block;
                                vertical-align: top;
                                margin-left: 4px;
                                &::before {
                                    content: '¥';
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 2px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .no-data {
                margin: 0;
                padding: 20px 0 18px;
                border-top: 1px solid #e5e5e5;
                text-align: center;
                font-size: 16px;
                font-size: #666;
            }
        }
    }
    .list-pagination {
        text-align: center;
        margin: 40px 0 30px;
        .el-pagination {
            .el-pager li {
                border-radius: 50%;
            }
            .btn-prev,
            .btn-next {
                border-radius: 50%;
            }
        }
    }
}